.detalle {
    border: 1px blue solid;
    background-color: white;
    right: 0;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    width: 100%;
    padding: 0 30% 0 30%;
}
.botonBack{
    background-color: blue;
    color: bisque;
    padding: 0.5em;

}